<!DOCTYPE html>
<html>
  <head>
    <title>Under6</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='shop.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Under6</h1>
        <strong><nav>
          <ul class="menu">
          	<li><img src='static/globe.png' alt='Under6'></a></li>
            <li><a href="{{ url_for('cart') }}"><img src='static/download.png' alt='Under6'></a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <div>
      <br><br><br><br>
      {% for item in dict %}

       <img src="static/{{item['id']}}" alt="Under6"><br>
        {{item['product_name']}}<br>
        {{item['price']}}<br>
        {{item['buy_now']}}

      {% endfor %}
    </div>
  </body>
</html>