<!DOCTYPE html>
<html>
  <head>
    <title>Under6</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='shop.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Under6</h1>
        <strong><nav>
          <ul class="menu">
          	<li><img src='static/globe.png' alt='Under6'></a></li>
            <li><a href="{{ url_for('cart') }}"><img src='static/download.png' alt='Under6'></a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <div class ="col-md-6">
      <br><br><br><br>
      <form action="{{url_for('addCart')}}" method="post">
      {% for item in dict %}

       <img src="static/{{item['id']}}" alt="Under6"><br>
        <h4>{{item['product_name']}}</h4>
        {{item['price']}}
        <p>
        <input type="hidden" name="product_id" value="{{item['id']}}">
        <a href="" class="btn btn-warning"> Add to Cart</a>
        <p>
        

      {% endfor %}
    </div>
  </body>
</html>